<% provide :page_title, t('.title') %>
<% currently_at t('menu.powers') %>

<body class="my-black-fon">

  <h1 class="center", style="color:#ffffff"><%= t('menu.powers')%></h1>
  <%= render 'train'%>
</body>