<% provide :page_title, t('.title') %>
<% currently_at t('menu.spider') %>

<body class="my-black-fon", style="color:#ffffff">

  <h1 class="center", style="color:#ffffff"><%= t('menu.spider')%></h1>
  <%= render 'train'%>
</body>