<% provide :page_title, "Кроссфит Тренировка" %>
<% currently_at "Кроссфит Тренировка" %>

<body class="my-black-fon">

  <h1 class="center", style="color:#ffffff">Кроссфит Тренировка</h1>
  <%= render 'train'%>
</body>