<% provide :page_title, t('crossfits.show.title') %>
<% currently_at t('crossfits.show.title') %>

<body class="my-blue-fon">

  <h1 class="center", style="color:#ffffff"><%= t('crossfits.show.title')%></h1>
  <%= render 'train'%>
</body>