<% provide :page_title, "Тренировка Табата" %>
<% currently_at "Тренировка Табата" %>

<body class="my-blue-fon">

  <h1 class="center", style="color:#ffffff">Тренировка Табата</h1>
  <%= render 'train'%>
</body>