<% currently_at t('menu.home') %>
<% provide :page_title %>

<body class="my-main">
  <h1 style="color:#ffffff"><%= t('pages.index.title')%></h1>

  <div style="color:#ffffff">
    &copy; Larchenkov <%= Time.now.year %>
  </div>
</body>